body{
     margin:0;
     height:200vh;
     display:flex;
     justify-content:center;
     align-items: center;
     font-family:Arial,Helvetica,sans-serif;
}

.carta{
    background-color: aqua;
    width:400px;
    padding:30px;
    border-radius:15px;
    box-shadow:0px 15px 40px rgba(36, 3, 120, 0.2);
    text-align: center;
    transition:transform o.3s ease;
}